* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
// write code mobile-first

// Coding for mobile
@media screen and (width <= 570px) {
  .heading {
    margin: 10rem;

    &__h1 {
      color: #4e51bf;
      text-align: center;
      font-family: "Noto Sans", sans-serif;
      text-transform: uppercase;
      font-size: 6.4rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.32rem;
    }
    &__input {
      width: 33.3rem;
      height: 5.1rem;
      flex-shrink: 0;
      border-radius: 1.1rem;
      border: 0.2rem solid #ec3a3b;
      background: #e0c4c4;
      margin-top: 6rem;
      padding: 2rem;
      text-align: right;
      outline: none;

      &::placeholder {
        color: #000;
        opacity: 1;
      }
    }
    &__button {
      width: 33.3rem;
      height: 4.7rem;
      flex-shrink: 0;
      border-radius: 0.9rem;
      background: rgba(235, 27, 27, 0.86);
      margin-top: 2rem;
      color: #fff;
      cursor: pointer;
    }
  }
  .footer {
    text-align: center;
    margin-top: 100%;
    display: flex;
    flex-direction: column;

    &__vcheck {
      color: #000;
      text-align: center;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      margin-bottom: 1rem;
      font-weight: 600;
      line-height: normal;
    }
    &__version {
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
// for mobile with width <=350
@media screen and (width <= 350px) {
  .heading {
    &__h1 {
      font-size: 6rem;
    }

    &__input {
      width: 25rem;
      height: 4.8rem;
    }
    &__button {
      width: 25rem;
      height: 4.4rem;
    }
  }
}
